[submodule "runcom/.vim/pack/plugins/start/vim-commentary"]
	path = runcom/.vim/pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "runcom/.vim/pack/plugins/start/vim-auto-pairs"]
	path = runcom/.vim/pack/plugins/start/vim-auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "runcom/.vim/pack/plugins/start/vim-endwise"]
	path = runcom/.vim/pack/plugins/start/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "runcom/.vim/pack/plugins/start/vim-nerdtree"]
	path = runcom/.vim/pack/plugins/start/vim-nerdtree
	url = https://github.com/preservim/nerdtree.git
